body {
  background: #111;
  color: white;
  text-align: center;
  font-family: monospace;
}

table, td {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

canvas {
  background: #000;
  border: 4px solid white;
  margin-top: 20px;
}

.p1 {
  background: #66f033;
  color: black;
}

.p2 {
  background: #0096ff;
  color: black;
}

.p3 {
  background: #ff8910;
  color: black;
}

.p4 {
  background: #bf40bf;
  color: black;
}

.controls {
  margin-top: 10px;
}
